* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto, sans-serif';
}

body {
    background-image: url('Background.gif');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    width: 80%;
    max-width: 1200px;
    background: rgba(0, 0, 0, 0.6);
    padding: 30px;
    border-radius: 15px;
    color: rgba(255, 115, 0, 0.774);
}

.welcome {
    flex: 1;
    padding: 20px;
    text-align: center;
}

.welcome h1 {
    font-size: 55px;
    margin-bottom: 10px;
}

.welcome p {
    font-size: 18px;
    margin-bottom: 30px;
}

.social-icons a img {
    width: 40px;
    height: 40px;
    margin: 0 7px;
}

.form-container {
    flex: 1;
    padding: 20px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

.form-container h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

.form-container p {
    font-size: 16px;
    margin-bottom: 20px;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
    font-size: 16px;
}

form input {
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

form input[type="checkbox"] {
    margin-bottom: 20px;
}

form p {
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.cancelbtn, .signupbtn {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.cancelbtn {
    background-color: rgb(194, 7, 7);
    color: rgb(255, 196, 0);
}

.signupbtn {
    background-color: rgb(20, 46, 194);
    color: rgb(38, 202, 17);
}